---
import elephant from "../images/icons8-elephant-100.png";
import Contact from "../components/Contact.astro";

export interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='keywords' content={keywords} />
  </head>
  <body>
    <header class='fixed top-0 left-0 right-0 py-3'>
      <div class='mx-2 lg:mx-8'>
        <div class='flex justify-between items-center'>
          <a href='http://localhost:3000'>
            <img
              class='hidden lg:block'
              src={elephant}
              width={100}
              height={100}
              alt='Sprzątanie mieszkań Zielona Góra'
            />
            <img
              class='lg:hidden'
              src={elephant}
              width={60}
              height={60}
              alt='Sprzątanie mieszkań Zielona Góra'
            />
          </a>
          <Contact />
        </div>
      </div>
    </header>
    <slot />
  </body>
</html>
<style is:global>
  :root {
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
