---
import elephant from "../images/elephant.png";
import Contact from "../components/Contact.astro";
import Burger from "../components/Burger.astro";

export interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='keywords' content={keywords} />
  </head>
  <body>
    <header id='header_123' class='fixed top-0 left-0 right-0 py-3'>
      <div class='mx-2 lg:mx-8'>
        <div class='flex justify-between items-center'>
          <div class='flex gap-x-5 items-center'>
            <a href='http://localhost:3000'>
              <img
                class='hidden lg:block'
                src={elephant}
                width={60}
                height={60}
                alt='Sprzątanie mieszkań Zielona Góra'
              />
              <img
                class='lg:hidden'
                src={elephant}
                width={40}
                height={40}
                alt='Sprzątanie mieszkań Zielona Góra'
              />
            </a>
            <Burger />
          </div>

          <Contact />

          <a
            href='/joinus'
            class='bg-gradient-to-r from-purple-500 to-pink-500 py-2 lg:py-4 px-4 lg:px-8 text-sm lg:text-2xl text-white font-bold rounded-3xl flex items-center gap-x-5'
            >Join Us</a
          >
        </div>
      </div>
      <div id='dropdowm-menu_123' class='dropdowm-menu'>
        <div class='flex flex-col mx-8 py-5 px-20'>
          <a href='#'>Home</a>
          <a href='#'>About</a>
          <a href='#'>Join us</a>
          <a href='#'>Contacts</a>
          <a href='#'>Portfolio</a>
        </div>
      </div>
    </header>
    <slot />
  </body>
</html>
<style is:global>
  :root {
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .menu-button {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 100%;
  }
  .right-menu {
    background-color: rgba(128, 126, 126, 0.5);
    border-radius: 100%;
  }
  .dropdowm-menu {
    display: none;
    background-color: white;
  }
  .dropdowm-menu a:hover {
    background-color: black;
    color: white;
  }

  /* .right-menu:hover .menu-button {
    background-color: darkgrey;
  } */
</style>
