---
import elephant from "../images/elephant.png";
import Contact from "../components/Contact.astro";
import Burger from "../components/menu/Burger.astro";
import Menu from "../components/menu/Menu.astro";
import Join from "../components/menu/Join.astro";
import MobileBurger from "../components/menu/MobileBurger.astro";
import MobileMenu from "../components/menu/MobileMenu.astro";
import home from "../images/home.png";
import phone from "../images/phone-call.png";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='keywords' content={keywords} />
  </head>
  <body>
    <header
      id='header_123'
      class='fixed z-50 top-0 left-0 right-0 bg-gradient-to-b from-white ...'
    >
      <div class='mx-2 lg:mx-8 py-3'>
        <div class='flex justify-between items-center'>
          <div class='flex gap-x-5 lg:gap-x-5 items-center'>
            <a
              href='http://localhost:3000'
              aria-label='Sprzątanie mieszkań Zielona Góra'
            >
              <img
                class='hidden lg:block'
                src={home}
                width={60}
                height={60}
                alt='Sprzątanie mieszkań Zielona Góra'
              />
              <img
                class='lg:hidden'
                src={home}
                width={48}
                height={48}
                alt='Sprzątanie mieszkań Zielona Góra'
              />
            </a>
            <Burger />
          </div>
          <Contact />
          <a class='lg:hidden' href='tel:+48690456901'
            ><img src={phone} width={48} height={48} alt='phone' /></a
          >
          <Join />
          <MobileBurger />
        </div>
      </div>
      <Menu />
      <MobileMenu />
    </header>
    <main id='main'><slot /></main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
  }
  html {
    /* font-family: system-ui, sans-serif; */
    font-family: Lucida Console;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .menu-button {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 100%;
  }
  .right-menu {
    /* border-radius: 100%; */
  }
  .dropdowm-menu {
    display: none;
    background-color: white;
  }
  .dropdowm-menu a:hover {
    text-decoration: underline;
  }
</style>
